*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{

    font-family:sans-serif;
}
/* navigation bar */
nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 13px;
    text-transform: uppercase;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #000000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

 }   
 nav ul li a:hover::after{
    width: 100%;
 }
}
/*a.active,a:hover{
    background: #1b9bff;
    transition: 5s;
}
a:hover{
    background: none;
    color: #111213;
    transition: 5s;
}*/
label.logo{
     font-size: 30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 16px;
}
/* end of navigation bar */

/*student bio*/
.me{
    /*
    display: block;
    margin-right: auto;*/
   opacity: 0.5;
   border-radius: 10%;
   padding: 10px;
   float: left;
}
h3,h4{
  text-align: justify;
  line-height: 2;
  padding: 10px;
}

/* student bio*/

 /* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} 

/* testing*/
/* Full-width input fields */
input[type=text] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button[onclick] {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


/*project page styling*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* end of project page*/
  
/* MY SKILLS PAGE */
/*Table*/
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 10%;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
  /* end of table*/

/* progress bar*/
.container {
  width: 50%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.html {width: 60%; background-color: #04AA6D;}
.css {width: 30%; background-color: #2196F3;}
.js {width: 15%; background-color: #f44336;}
.php {width: 0%; background-color: #808080;}
/* end of progress bar*/

/*END OF MY SKILLS PAGAE */

/* ABOUT ME PAGE*/
footer{
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  display: inline-flex;
}